.footer {
  text-align: center;
  padding: 10px;
  background-color: $primary-color;

  &__rights {
    color: $gray-color;
    font-size: 16px;
  }
  @media (max-width: 1024px) {
    &__rights {
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 768px) {
    &__rights {
      display: flex;
      justify-content: center;
      font-size: 0.8rem;
      padding-bottom: 15px;
    }
  }
  @media (max-width: 411px) {
    &__rights {
      display: flex;
      justify-content: center;
      font-size: 0.6rem;
      padding-bottom: 10px;
    }
  }
}
