.container {
    .movies-title {
        text-transform: uppercase;
        @include title;
        font-weight: 500;
        span {
            text-transform: lowercase;
        }
    }
    .items-wrapper {
        position: relative;

        .movies-items {
            @include items-container;
            flex-wrap: nowrap;
            z-index: 3;
            padding-top: 20px;
            padding-left: 10px;
            overflow: hidden;
            scroll-behavior: smooth;
        }

        .movies-item {
            @include item;
            flex-shrink: 0;
            width: 100%;
        }
        .item-title {
            @include item-title;
        }
        .item-info {
            @include item-info;
        }
        .item-description {
            display: flex;
            gap: 5px;
        }
    }

    .next-arrow,
    .prev-arrow {
        width: 50px;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        fill: currentColor;
        opacity: 0.7;
        cursor: pointer;
    }

    .next-arrow {
        right: 10px;
    }

    .prev-arrow {
        left: 10px;
    }
    .skeleton-container {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-bottom: 40px;
        width: 100%;
    }

    .skeleton-item {
        background-color: rgba(147, 146, 146, 0.317);
        border-radius: 20px;
        height: 300px;
        width: 210px;
        animation: pulse 2s infinite ease-in-out;
    }

    @keyframes pulse {
        0% {
            background-color: rgba(100, 100, 100, 0.178);
        }
        50% {
            background-color: rgba(100, 100, 100, 0.16);
        }
        100% {
            background-color: rgba(100, 100, 100, 0.038);
        }
    }
}

@media (max-width: 1030px) {
    .items-wrapper {
        .movies-items {
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            scroll-behavior: smooth;
        }
    }
    .next-arrow,
    .prev-arrow {
        display: none;
    }
}
@media (max-width: 940px) {
    .container {
        padding-left: 20px !important;
        .movies-title {
            font-size: 1.5rem;
        }
    }
}
@media (max-width: 490px) {
    .container {
        .movies-title {
            font-size: 1.2rem;
            padding-right: 10px;
        }
    }
}
