.movie-card__content-container {
    @include content-container;

    .movie-card {
        &__image {
            background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0),
                    #000000 100%,
                    #000000 100%
                ),
                linear-gradient(
                    to right,
                    #000000ee 0%,
                    rgba(0, 0, 0, 0) 10%,
                    rgba(0, 0, 0, 0) 90%,
                    #000000 100%
                ),
                var(--poster-url);

            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;

            width: 100%;
            height: auto;
            min-height: 600px;
            aspect-ratio: 16 / 9;
            margin-bottom: 40px;
        }

        &__title {
            @include title;
            font-size: 3.8rem;
            letter-spacing: 0;
            line-height: 4.8rem;
        }

        &__wrapper {
            display: flex;
            justify-content: baseline;
            gap: 200px;
            margin-bottom: 80px;
        }

        &__context {
            max-width: 600px;

            &-title {
                @include item-title;
                margin-bottom: 40px;
                font-size: 2.9rem;
                line-height: 3.6rem;
            }

            &-description {
                margin-bottom: 40px;
                font-size: 1.5rem;
                line-height: 2.4rem;
                color: $gray-color;
            }
        }

        &__info {
            &-title {
                @include item-title;
                margin-bottom: 40px;
                font-size: 2.9rem;
                line-height: 3.6rem;
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 40px;
                margin-bottom: 40px;
                font-size: 1.5rem;
                line-height: 2.4rem;

                p .gray {
                    color: $gray-color !important;
                }
            }

            &-country,
            &-rating,
            &-genre {
                display: flex;
                gap: 60px;
            }
        }

        &__container-for-trailer {
            margin-bottom: 60px;
            width: 100%;
            border-radius: 27px;
        }

        &__trailer {
            width: 100%;
            border-radius: 27px;
        }
    }

    .loading-indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 300px;
        margin-bottom: 400px;

        width: 100%;
        height: 100%;
        font-size: 4rem;
    }
}

@media (max-width: 940px) {
    .movie-card {
        &__wrapper {
            flex-direction: column;
            gap: 20px !important;
        }
        &__context {
            max-width: 900px !important;
        }
        &__title {
            font-size: 3rem !important;
        }
        &__context-title {
            font-size: 2.3rem !important;
        }
        &__context-description {
            margin-bottom: 10px !important;
        }
        &__info {
            &-title {
                font-size: 2.3rem !important;
            }
        }
        &__trailer {
            padding: 10px !important;
            aspect-ratio: 16 / 9;
            height: auto;
        }
    }
}
@media (max-width: 490px) {
    .movie-card__content-container {
        .movie-card {
            &__image {
                height: 200px !important;
            }
            &__wrapper {
                flex-direction: column;
                gap: 20px !important;
                margin-bottom: 10px !important;
            }
            &__context {
                max-width: 900px !important;
            }
            &__title {
                font-size: 2rem !important;
                margin-bottom: 10px !important;
            }
            &__context-title {
                font-size: 1.7rem !important;
                margin-bottom: 10px !important;
            }
            &__context-description {
                font-size: 1.2rem;
                max-height: 400px;
                overflow-y: auto;
                padding-right: 10px;
                line-height: 1.4rem;
            }
            &__info {
                &-title {
                    font-size: 1.7rem !important;
                }
                &-wrapper {
                    gap: 15px !important;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }
            }
        }
    }
}
