.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: $primary-color;
  color: $white;

  &__logo {
    padding-left: 45px;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-size: 18px;
  }

  &__nav {
    &-list {
      display: flex;
      justify-content: space-around;
    }
    &-item {
      padding-left: 60px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      @include navHoverEffect();
    }

    &-link {
      color: $white;
      font-weight: bold;
    }
    &-link:hover {
      color: $accent-color;
    }
  }

  &__search {
    display: none;
    &-icon {
      width: 25px;
      height: 25px;
      fill: $white;
      transition: fill 0.2s ease-in-out;
    }
  }
  &__burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    span {
      width: 25px;
      height: 3px;
      margin: 3px 0;
      background-color: $white;
      transition: all 0.3s ease;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    &.active span:nth-child(2) {
      opacity: 0;
    }
    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  &__nav {
    display: flex;
    &.open {
      display: block;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      position: relative;
      width: 20px;
      height: 20px;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      border: 2px solid $white;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;

        background-color: transparent;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: background-color 0.3s ease;
      }

      &:checked {
        border-color: $accent-color;
        @include navHoverEffect;

        &:before {
          background-color: $accent-color;
          @include navHoverEffect;
        }
      }
    }
  }

  &__toggle-label {
    padding-left: 10px;
    color: $white;
    letter-spacing: 0.9px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  @media (min-width: 1025px) {
    &__burger {
      display: none;
    }

    &__nav {
      display: flex;
    }
  }
  @media (max-width: 1024px) {
    &__nav-list {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: $primary-color;
      width: 100%;
      padding: 20px 0;

      &.open {
        display: flex;
      }
    }
    &__burger {
      display: flex;
      position: absolute;
      left: 50px;
    }
    &__logo {
      position: absolute;
      left: 43%;
      transform: translateX(-50%);
    }
    &__toggle-label {
      font-size: 10px;
    }
    &__search {
      display: block;
    }
  }

  @media (max-width: 768px) {
    padding: 0 10px;

    &__logo {
      font-size: 16px;
    }

    &__burger {
      span {
        width: 20px;
        height: 2px;
      }
    }
    &__toggle-label {
      font-size: 8px;
    }
  }

  @media (max-width: 768px) {
  }
}
