@import "../vars.scss";
@import "../mixins.scss";

.movies-title {
    text-transform: uppercase;
    @include title;
    span {
        text-transform: lowercase;
    }
}
.items-wrapper {
    position: relative;
}
.movies-items {
    @include items-container;
    flex-wrap: nowrap;
    z-index: 3;
    padding-top: 20px;
    padding-left: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.movies-item {
    @include item;
    flex-shrink: 0;
}
.item-title {
    @include item-title;
}
.item-info {
    @include item-info;
}
.item-description {
    display: flex;
    gap: 5px;
}
.next-arrow {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    fill: currentColor;
    opacity: 0.5;
    cursor: pointer;
}
.prev-arrow {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    fill: currentColor;
    opacity: 0.5;
    cursor: pointer;
}
.skeleton-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
    width: 100%;
}

.skeleton-item {
    background-color: rgba(147, 146, 146, 0.317);
    border-radius: 20px;
    height: 300px;
    width: 210px;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        background-color: rgba(100, 100, 100, 0.178);
    }
    50% {
        background-color: rgba(100, 100, 100, 0.16);
    }
    100% {
        background-color: rgba(100, 100, 100, 0.038);
    }
}
