//здесь создавайте миксины
@mixin hover-effect($color) {
    &:hover {
        background-color: $color;
        transition: background-color $transition-time ease-in;
    }
}

@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin title(
    $font-size: 2rem,
    $font-weight: 400,
    $letter-spacing: 0.2px,
    $margin-bottom: 40px
) {
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    margin-bottom: $margin-bottom;
}
@mixin hover-effect-item {
    &:hover {
        box-shadow: 0 0 10px 2px $accent-color; // Используем переменную акцентного цвета
        transform: scale(1.02);
    }
}

// Миксин для универсального контейнера с элементами
@mixin items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; // Жестко заданный промежуток
    margin-bottom: 40px; // Жестко заданный нижний отступ
}

// Миксин для универсального элемента списка
@mixin item {
    margin-bottom: 120px; // Жестко заданный нижний отступ для элемента
    max-width: 210px; // Жестко заданная ширина элемента
    height: 300px; // Жестко заданная высота элемента

    img {
        width: 100%;
        height: 100%;
        border-radius: 20px; // Жестко заданный радиус скругления
        object-fit: cover;
        margin-bottom: 10px;
        cursor: pointer;
        transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
        z-index: 4;

        @include hover-effect-item; // Применение эффекта наведения
    }

    &:hover {
        color: $accent-color; // Используем акцентный цвет
        transition: 0.2s ease-in;
    }
}

// Миксин для заголовка элемента
@mixin item-title {
    display: block;
    font-size: 1.2rem; // Жестко заданный размер шрифта
    font-weight: 500;
    letter-spacing: 0.1px;
    margin-bottom: 5px;
    cursor: pointer;
}

// Миксин для информации о фильме
@mixin item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgba(128, 128, 128, 0.779);

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
