//здесь переменные
$main-font: "Roboto", sans-serif;
$secondary-font: "Sen", sans-serif;

$primary-color: #000;
$accent-color: tomato;
$white: #fff;
$search-hover-color: rgba(236, 94, 68, 0.723);
$background-color-dark: linear-gradient(135deg, rgb(0, 0, 0), #000000, #212121);
$gray-color: rgba(128, 128, 128, 0.779);
$transition-time: 0.2s;
