$main-font: "Roboto", sans-serif;
$secondary-font: "Sen", sans-serif;

$primary-color: #000;
$accent-color: tomato;
$white: #fff;
$search-hover-color: rgba(236, 94, 68, 0.723);
$background-color-dark: linear-gradient(180deg, rgb(0, 0, 0), #000000, #212121);
$gray-color: rgba(128, 128, 128, 0.779);
$bg-skeleton-color-start: rgba(100, 100, 100, 0.178);
$bg-skeleton-color-mid: rgba(100, 100, 100, 0.16);
$bg-skeleton-color-end: rgba(100, 100, 100, 0.038);
$skeleton-item-bg-color: rgba(147, 146, 146, 0.317);

$transition-time: 0.2s;
